body
{
	background-color:gray;
}

.App
{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.Form
{
	display:flex;
	flex-direction:column;

	color:white;
	background-color:blue;
	margin:8px;
	padding:8px;
	padding-top:100px;
	transform:translate(0px, -100px);
	border-radius:8px;
	box-shadow:#555555 4px 4px 4px;
}

.Form > .row
{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;

	margin:0px 4px;
}

.Form > .row > .section
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

	margin:4px 4px;
}

.Display
{
	flex:0 1 100%;
	margin:8px;
}
