body
{
	display:flex;

	background-color:gray;
}

.App
{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.Form
{
	display:flex;
	flex-direction:column;
	align-items:flex-end;

	flex:1 0 300px;
	background-color:blue;
	margin:8px;
	padding:8px;
	border-radius:8px;
	box-shadow:#555555 4px 4px 4px;
}

.Form > *
{
	margin-bottom:8px;
}

.Display
{
	flex:0 1 100%;
	margin:8px;
}
